.form-contacts__wrapper {
  background-color: @white-color;
  height: auto;

  @media (min-width: @tablet-width) {
    order: 3;
  }

  @media (min-width: @desktop-width) {
    width: 936px;
  }
}

.form-contacts__fieldset {
  padding-top: 8px;

  @media (min-width: @tablet-width) {
    padding: 40px 35px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-around;
  }

  label {
    padding-left: 20px;
    font-family: @font-family, "Arial", sans-serif;
    font-size: 14px;
    line-height: 30px;
    color: @active;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      padding-top: 15px;
    }
  }

  input {
    width: 276px;
    height: 59px;
    padding-left: 20px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;

    @media (min-width: @tablet-width) {
      width: 496px;
    }

    @media (min-width: @desktop-width) {
      width: 371px;
    }
  }

  input::placeholder {
    font-family: @font-family, "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: @base-color;
  }
}

.form-contacts__title {
  font-family: @font-family, "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @active;

  @media (min-width: @mobile-width) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.form-contacts__item {
  margin-top: 25px;
  text-align: left;

  @media (min-width: @mobile-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}
