.form-checkbox__wrapper {
  @media (min-width: @mobile-width) {
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px;
    background-color: @grey-color;
  }

  @media (min-width: @tablet-width) {
    order: 4;
    background-color: @white-color;
  }

  @media (min-width: @desktop-width) {
    width: 936px;
  }
}

.form-checkbox__fieldset {
  margin-top: 20px;
  background-color: @grey-color;
  height: 604px;

  @media (min-width: @tablet-width) {
    height: 565px;
    background-color: transparent;
    margin-top: 0;
    padding: 0 55px;
  }

  @media (min-width: @desktop-width) {
    height: auto;
    background-color: transparent;
    padding: 0 28px;
    padding-bottom: 45px;
  }

  .form-checkbox__title {
    font-family: @font-family, "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: @active;
    text-transform: uppercase;

    @media (min-width: @mobile-width) {
      padding-top: 40px;
    }

    @media (min-width: @tablet-width) {
      padding: 0 20px;
    }

    br {
      @media (min-width: @tablet-width) {
        display: none;
      }
    }
  }

  .form-checkbox__item {
    @media (min-width: @mobile-width) {
      padding: 28px 0 0 0;
      text-align: left;
    }

    @media (min-width: @desktop-width) {
      flex-basis: 218px;
      width: auto;
      padding: 25px 0 0 30px;
      flex-grow: 1;
    }
  }

  label {
    font-family: @font-family, "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: @base-color;
  }
}

.form-label__checkbox {
  position: relative;
  display: block;
  cursor: pointer;

  @media (min-width: @mobile-width) {
    padding-left: 60px;
  }
}

.form-input__checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 20px;
  top: 3px;
  left: 16px;
  margin: auto;
  border-right: 3px solid @active;
  border-bottom: 3px solid @active;
  transform: rotate(45deg);
  transition: 0.3s ease;

  @media (min-width: @mobile-width) {
    top: 3px;
    left: 16px;
  }
}

.form-input__checkbox + label::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  left: 0;
  top: -1px;
  border: 2px solid @light-grey;
  border-radius: 1px;
  background-color: @white-color;
  cursor: pointer;

  @media (min-width: @mobile-width) {
    left: 1px;
    top: -1px;
  }

  &:hover {
    border: 2px solid @base-color;
  }
}

.form-input__checkbox {
  position: relative;
  top: 25px;
}

.form-checkbox__list {
  @media (min-width: @mobile-width) {
    margin-top: -11px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    margin-top: -1px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.checkbox__item--selfi {
  @media (min-width: @desktop-width) {
    order: 1;
  }
}

.checkbox__item--beach {
  @media (min-width: @desktop-width) {
    order: 4;
  }
}

.checkbox__item--chack {
  @media (min-width: @desktop-width) {
    order: 2;
  }
}

.checkbox__item--souvenirs {
  @media (min-width: @desktop-width) {
    order: 5;
  }
}

.checkbox__item--tower {
  @media (min-width: @desktop-width) {
    order: 3;
  }
}

.checkbox__item--hotel {
  @media (min-width: @desktop-width) {
    order: 6;
  }
}

.form-checkbox__block {
  padding-top: 42px;
}

.form-input__checkbox:checked:hover,
.form-label__checkbox:hover::before {
  border: 2px solid @base-color;
  transition: 0.3s ease;
}

.form-input__checkbox:checked:active,
.form-label__checkbox:active::before {
  border: 2px solid @active;
  transition: 0.3s ease;
}

.form-input__checkbox:focus + label::before {
  border: 2px solid @active;
  transition: 0.3s ease;
}
