.header-block {
  position: relative;
  width: 320px;
  min-height: 553px;
  background: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  // background-position:;
}

.hand-img {
  height: 286px;
  background: url("../img/hand-iphone.png");
  background-repeat: no-repeat;
}

.header-block__application {
  background-color: #1d2631;
  height: 271px;
}

.header-block__slogan {
  width: 280px;
  padding-bottom: 34px;
}

.header-block__title {
  width: 280px;
  padding-top: 19px;
  font-family: @font-family, "Arial", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: @white-color;
}

.header-block__button {
  margin-top: 28px;
  margin-bottom: 30px;
  width: 280px;
  height: 55px;
  border: 3px solid @white-color;
  box-sizing: border-box;
  border-radius: 29px;
  background-color: #1d2631;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: @white-color;
}

.header-block__wrapper {
  font-family: @font-family, "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 39px;
  color: @white-color;

  p {
    margin-top: 12px;
    font-family: @font-family, "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
  }
}

.header-block__app {
  .app-link {
    padding-left: 33px;
  }
}
