.main-header {
  width: 100%;
}

.page-header {
  height: 66px;
  background: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-position: top;
  color: @base-color;
  display: flex;
  justify-content: space-around;
}

.page-header__bar {
  padding: 21px;
}

.main-nav__wrapper {
  .main-nav__item {
    a {
      font-family: @font-family, "Arial", sans-serif;
      font-size: 18px;
      font-weight: bold;
      line-height: 32px;
      text-decoration: none;
      color: @white-color;
      text-transform: uppercase;
    }
  }
}
