.main-header {
  width: 320px;
  height: 66px;
  background: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  color: @base-color;

  @media (min-width: @mobile-width) {
    margin: 0 auto;
  }

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 660px;
    height: 110px;
    background: url("../img/back-tablet.png");
    background-repeat: no-repeat;
    background-position: top;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 1200px;
    height: 110px;
    background: url("../img/back-desktop.png");
    background-repeat: no-repeat;
    background-position: top;
  }
}

.page-header__wrapper {
  width: 280px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 620px;
    padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding: 0 130px;
  }
}

.page-header {
  color: @base-color;
  display: flex;
  justify-content: space-between;
}

.page-header__bar {
  margin-top: 21px;

  @media (min-width: @tablet-width) {
    margin-top: 27px;
    width: 147px;
    background-image: url("../img/logotype-white-tablet.png");
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    margin-top: 20px;
    width: 147px;
    background-image: url("../img/logotype-white-desktop.png");
    background-repeat: no-repeat;
  }

  .page-header__image {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.main-nav__button {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__wrapper {
  .main-nav__list {
    @media (min-width: @desktop-width) {
      width: 619px;
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
    }

    a {
      font-family: @font-family, "Arial", sans-serif;
      font-size: 18px;
      font-weight: bold;
      line-height: 32px;
      text-decoration: none;
      color: @white-color;
      text-transform: uppercase;

      @media (min-width: @desktop-width) {
        font-weight: 400;
        line-height: 18px;
        text-transform: none;
      }
    }
  }
}
