.page-footer {
  background-color: @white-color;

  @media (min-width: @tablet-width) {
    width: 660px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
   width: 1200px;
   margin: 0 auto;
  }
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    margin-top: 350px;
    display: flex;
    justify-content: space-between;

    @media (min-width: @desktop-width) {
      height: 197px;
      background-color: @white-color;
      justify-content: space-around;
     }
  }
}

.page-footer__social {
  @media (min-width: @tablet-width) {
    margin-top: 190px;
  }
}

.page-footer__copyright {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}
