.reviews {
  // position: absolute;
  height: 364px;
  background-color: #ffffff;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
  }
}

.reviews__author-name {
  padding-top: 50px;
  padding-bottom: 12px;
  font-family: @font-family, "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-align: center;

  @media (min-width: @tablet-width) {
  }
}

.reviews__item {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.reviews__author-name--age {
  display: none;
  font-family: @font-family, "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    display: block;
    order: 2;
  }
}

.reviews__text {
  width: 280px;
  font-family: @font-family, "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: @base-color;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 620px;
    order: 1;
  }
}
